[submodule "lib/p"]
	path = lib/p
	url = git@github.com:markhibberd/p.git
[submodule "lib/twine"]
	path = lib/twine
	url = git@github.com:markhibberd/twine
[submodule "lib/disorder"]
	path = lib/disorder
	url = git@github.com:markhibberd/disorder.hs
[submodule "lib/x"]
	path = lib/x
	url = git@github.com:markhibberd/x
